.consultant {
  display: flex;
  flex-direction: column;

  mat-card-actions.mat-card-actions {
    text-align: right;
  }

  .mat-card-title.consultant_title {
    font-size: 3rem;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }

  .example-container > * {
    width: 100%;
  }
}
